.main {
  
  background-image: url(../images/sparrow/backImage.png);
  height: 95vh;
  min-height: 700px;
  background-repeat:no-repeat;
  background-size: 100vw;
  background-position:center bottom; /* or 0&#37; 100% */
  margin-top: 0;
  margin-bottom: -20px;
}

.sparrow-font{

  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


.solution {
  padding-bottom: 7vh;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  /* background-image: url(../images/background/back.png); */
  background-position:center top;
  background-repeat:no-repeat;
  background-size: 100vw;
  margin-top: -20px;
  margin-bottom: -20px;
}

.solutionImageLarge{
  margin-top: 5vh;
  width:80%;
  padding: 10%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.solutionImageSmall{
  margin-top: 4vh;
  width:100%;
  height: auto; 
  display: block;
  padding: 15%;
  margin-left: auto;
  margin-right: auto;

}

.solutionHeadingLarge{
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin-top: 5vh;
}

.solutionHeadingSmall{
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin-top: 1vh;
}

.mainSmall {
  
  background-image: url(../images/sparrow/backImageMobile.png);
  height: 65vh;
  min-height: 700px;
  background-repeat:no-repeat;
  background-size: 100vw;
  background-position:center bottom; /* or 0&#37; 100% */
  margin-top: 0;
  margin-bottom: -20px;
}

 


.problem {
  /* background-image: url(../images/sparrow/problemsBack.png); */
  background-position:center top;
  background-repeat:no-repeat;
  background-size: 100vw;

  min-height: 60vh;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  /* background: #00bcd4; */
}


.problem-activator{
  position: absolute;
    top: 20px;
    right: 20px;
}

.problems-card{
  height:35vh;
  min-height: 200px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
  padding-top: 1vh;
}

.problem-image{
  height: 16vh; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.problem-text{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 10%;
}



::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}


body{
  background: #00bcd4;
  margin: 0px;
}



.tabs .tab a{
  color:#006064 ;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#00bbd407;
  color:#006064 ;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#00bbd407 ;
  color:#006064 ;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#006064 ;
} /*Color of underline*/

.tabs .tab a:focus.active {
  color:#006064;
  /*Custom Text Color While Active*/
  background-color:#00bbd407;
  /*Custom Background Color While Active*/
}