.main {
  
  background-image: url('https://sparrow-platform.com/images/sparrow/backImage.png');
  height: 100vh;
  min-height: 700px;
  background-repeat:no-repeat;
  background-size: 100vw;
  background-position:center bottom; /* or 0&#37; 100% */
  margin-top: 0;
  margin-bottom: -20px;
}

.mainSmall {
  
  background-image: url('https://sparrow-platform.com/images/sparrow/backImageMobile.png');
  height: 100vh;
  min-height: 700px;
  background-repeat:no-repeat;
  background-size: 100vw;
  background-position:center bottom; /* or 0&#37; 100% */
  
  margin-top: 0;
  margin-bottom: -20px;
}

 


.problem {
  
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background: #00bcd4;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


.problem-activator{
  position: absolute;
    top: 20px;
    right: 20px;
}

.problems-card{
  height:35vh;
  min-height: 200px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
  padding-top: 1vh;
}

.problem-image{
  height: 16vh; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.problem-text{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 10%;
}



::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}


body{
  /* background: #00bcd4; */
  margin: 0px;
} 
